name: imGui-Easy Build
permissions:
  contents: write

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build APK
        run: ./gradlew assembleDebug --warning-mode all

      - name: Upload Gradle Problem Report
        uses: actions/upload-artifact@v6
        with:
          name: gradle-problem-report-${{ matrix.build_type }}-${{ github.run_id }}
          path: build/reports/problems/
          if-no-files-found: warn

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: imGui-Easy-apk-debug-${{ github.run_id }}
          path: app/build/outputs/apk/debug/app-debug.apk